<h1> ADD YOUR RECOMMENDATIONS </h1>

<br>

<div class="col-md-offset-2 col-md-8">

  <div class="well">

    <%= form_for @recommendation do |f| %>
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :recommend1, 'First Recommendation', class: "col-md-4 control-label" %>
          <div class="col-md-5">
            <%= f.collection_select :recommend1, Investor.all, :id, :full_name, {prompt: 'Please select an investor...'}, {class:'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :recommend2, 'Second Recommendation', class: "col-md-4 control-label" %>
          <div class="col-md-5">
            <%= f.collection_select :recommend2, Investor.all, :id, :full_name, {prompt: 'Please select an investor...'}, {class:'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :recommend3, 'Third Recommendation', class: "col-md-4 control-label" %>
          <div class="col-md-5">
            <%= f.collection_select :recommend3, Investor.all, :id, :full_name, {prompt: 'Please select an investor...'}, {class:'form-control'} %>
          </div>
        </div>

        <br>

        <div class="form-group">
          <div class="col-md-offset-5">
            <%= f.submit 'Add Recommendations', class:'btn btn-primary' %>
          </div>
        </div>


      </div>
    <% end %>

  </div>

</div>
