#investors_table
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Full Name
        %th Add Your Endorsement
        %th Email
        %th Status
        %th Company
        %th Rank
    %tbody
      - @investors.each do |investor|
        %tr
          %td
            = link_to investor.full_name, investor_path(investor.id)
          %td
            = link_to "Endorsement", new_endorsement_path(endorsed_id: investor.id), class:"btn btn-info center-block input-sm"
          %td
            = investor.email
          %td
            = investor.status
          %td
            = investor.company
          %td
            = investor.rank
  = will_paginate @investors
