.page-header
  = link_to "Create Investor", new_investor_path, class:"btn btn-primary pull-right"
  %h1 ANGEL INVESTORS
= form_tag root_path, :method => 'get', remote: true, :id => "investors_search" do
  .form-group
    .col-md-6
      = text_field_tag :search, params[:search], class:'form-control'
    = submit_tag "Search", :name => nil, class:'btn btn-primary control-label'

= render 'investors'
%h2 Import Products
= form_tag import_investors_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import", class: 'btn btn-primary'
