.page-header
  = link_to "Investors", root_path, class:"btn btn-primary pull-right"
  %h1= @investor.full_name
%h5= mail_to(@investor.email)
%br
- if @endorsements.count > 0
  .well
    = "This investor has #{@endorsements.count} recommendations."
    - @endorsements.each do |endorsement|
      %p
      %strong= "#{endorsement.investor.full_name} has endorsed #{@investor.full_name} with the following recommendation:"
      %p= "#{endorsement.comment}"
- if @investor.endorsements.count > 0
  .well
    %h5= "#{@investor.full_name} has also endorsed the following #{pluralize(@investor.endorsements.count, 'investor')}:"
    - @investor.endorsements.each do |endorsement|
      %li= link_to "#{Investor.find(endorsement.endorsed_id).full_name}:", investor_path(endorsement.endorsed_id) 
      = "#{endorsement.comment}"
