.page-header
  = link_to "Investors", root_path, class:"btn btn-primary pull-right"
  %h1= @investor.full_name
= "#{@investor.full_name}'s email is #{@investor.email}, and this investor has #{@investor.rank} recommendations."
- @investor.endorsements.each do |endorsement|
  = "#{endorsement.investor.full_name} has endorsed #{@investor.full_name} with the following recommendation:"
  = "#{endorsement.comment}"
