.page-header
  %h1= @investor.full_name
  = link_to "Add Endorsement for Loren", new_endorsement_path(endorsed_id: @investor.id), class: 'btn btn-primary'
  = link_to "Edit #{@investor.first_name}'s info", edit_investor_path(@investor.id), class: 'btn btn-danger'
  = link_to "Delete #{@investor.first_name}", investor_path(@investor.id), method: :delete, class: 'btn btn-danger'
%h5= mail_to(@investor.email)
%br
- if @endorsements.count > 0
  .well
    %h5= "#{@investor.full_name} has #{pluralize(@endorsements.count, 'recommendation')}."
    - @endorsements.each do |endorsement|
      %p
      %li= link_to "#{endorsement.investor.full_name}:", investor_path(endorsement.investor.id)
      = "#{endorsement.comment}"

- if @investor.endorsements.count > 0
  .well
    %h5= "#{@investor.full_name} has endorsed the following #{pluralize(@investor.endorsements.count, 'investor')}:"
    - @investor.endorsements.each do |endorsement|
      %li= link_to "#{Investor.find(endorsement.endorsed_id).full_name}:", investor_path(endorsement.endorsed_id)
      = "#{endorsement.comment}"
