<h1> ADD YOUR RECOMMENDATIONS </h1>

<br>

<div class="col-md-offset-2 col-md-8">

  <div class="well">

    <%= form_for @endorsements do |f| %>
      <div class="form-horizontal">

        <div class="form-group">
          <%= f.label :investor_id, 'Person making the recommendation', class: "col-md-4 control-label" %>
          <div class="col-md-5">
            <%= f.collection_select :investor_id, Investor.all, :id, :full_name, {prompt: 'Please select the person making the recommendation'}, {class:'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :endorsed, 'Person being endorsed', class: "col-md-4 control-label" %>
          <div class="col-md-5">
            <%= f.collection_select :endorsed, Investor.all, :id, :full_name, {prompt: 'Please select the person you wish to recommend...'}, {class:'form-control'} %>
          </div>
        </div>

        <br>

        <div class="form-group">
          <div class="col-md-offset-5">
            <%= f.submit 'Add Endorsement', class:'btn btn-primary' %>
          </div>
        </div>


      </div>
    <% end %>

  </div>

</div>
