<!DOCTYPE html>
<html>
<head>
  <title>AngelInvestorApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <p>
        <div class="alert alert-warning" role="alert"> <%= flash[:notice] %> </div>
      </p>
    <% end %>

<%= yield %>

  </div>
</body>
</html>
